<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>Mamaliga</string>
		<key>ingredients</key>
		<string>carrots, water, salt, onions</string>
		<key>image</key>
		<string>mamaliga.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>Turkey</string>
		<key>ingredients</key>
		<string>Meat, salt, turkey</string>
		<key>image</key>
		<string>turkey.jpeg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>Sandwich</string>
		<key>ingredients</key>
		<string>bread, tomato, melon</string>
		<key>image</key>
		<string>sandwich.jpg</string>
	</dict>
</array>
</plist>
